body {
    margin:0;
    width:100vw;
    height:100vh;
}

div.left-box {
    float: left;
    width: 47%;
}
div.right-box {
    float: right;
    width: 53%;
}

div.box{
    height:100%;
    /* box-sizing: border-box; */
}

div.box-wrap{
    width: 100%;
    height: 100%;
}
div.innerBox{
    margin: 5px;
}

#qr-preview{
    border: 2px solid #eeeeee;
    margin: 5px;
    width: 280px;
    height: 280px;
}
#control-buttons-qr{
    margin: 6px;
}
#qr-img{
    width: 100%;
}
h3#menu-title{
    margin-top: 10px;
}

input#url-input{
    width:270px;
}

div#menu-select-buttons{
    margin-bottom: 10px;
}
div#menu-select-buttons div.btn-group{
    width:100%;
}
